<div class="login-wrap">
  <div class="login-html">
    <h1 class="title">تسجيل الدخول</h1>

    <div class="login-form">
      <div class="sign-in-htm">
        <div class="group">
          <label for="user" class="label">البريد الإلكتروني</label>
          <input id="user" type="email" class="input" [(ngModel)]="email" placeholder="البريد الإلكتروني">
        </div>
        <div class="group">
          <label for="pass" class="label">كلمة المرور</label>
          <input id="pass" type="password" class="input" [(ngModel)]="password" data-type="password" placeholder="كلمة المرور">
        </div>

        <div class="group">
          <input type="submit" class="button" value="تسجيل الدخول" (click)="login()">
        </div>

      </div>

    </div>
  </div>
</div>
