.ayah{
  font-family: "Arabic Typesetting";
  color: darkgoldenrod;
  font-size: 2.6rem;
}
.ayah,.contemplation{
  text-align: justify;

}

.contemplation{
  color: purple;
  font-size: 2rem;
}

audio{
  margin-top: 10rem;
}

.con-card{
  margin-bottom: 3rem;
}
