<!--<ul>-->
  <!--<li *ngFor="let surah of (surahs | async)">-->
    <!--{{surah.name}}-->
  <!--</li>-->
<!--</ul>-->
<md-toolbar color="primary" >
  <span>حصاد التدبر</span>
  <span class="spacer"></span>
  <button md-button routerLink="/surahs">السور</button>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item *ngIf="!isLoggedIn()" routerLink="login">
      <md-icon>fingerprint</md-icon>
      <span>تسجيل الدخول</span>
    </button>
    <button md-menu-item *ngIf="isLoggedIn()" (click)="logout()">
      <md-icon>fingerprint</md-icon>
      <span>تسجيل الخروج</span>
    </button>

  </md-menu>

</md-toolbar>

<router-outlet></router-outlet>
