<!--<md-sidenav-container>-->
  <!--<md-sidenav align="end" mode="side" #sidenav>-->
    <!--<button md-raised-button color="primary" (click)="sidenav.close()">-->
      <!--<md-icon class="md-24">close</md-icon>-->
    <!--</button>-->
    <!--<hr>-->
    <!--<div class="col-xs-3 col-md-3" *ngFor="let ayah of (selectedSurah?.ayahCount | numberToArray )">-->
      <!--<button md-mini-fab>-->
        <!--{{ayah}}-->
      <!--</button>-->
    <!--</div>-->

  <!--</md-sidenav>-->

  <div class="container">
  <div class="row page-buttons center" >
    <div class="col-xs-6">
      <button md-fab color="primary" (click)="previous()" [disabled]="isFirstPage()">

        <md-icon class="md-24">skip_next</md-icon>
      </button>

    </div>

    <div class="col-xs-6 left">
      <button md-fab color="primary" (click)="next()" [disabled]="isLastPage()">
        <md-icon class="md-24">skip_previous</md-icon>
      </button>
    </div>
  </div>
  <div class="row right" *ngIf="loaded">

    <div class="col-md-3 dark-card" *ngFor="let surah of surahs" >
      <md-card routerLink="/contemplations/{{surah.number}}">
        <md-card-subtitle>
          {{surah?.ayahCount | ayahNumber}}
        </md-card-subtitle>
        <hr>
        <md-card-content >
          <h3>{{surah.name}}</h3>
        </md-card-content>
      </md-card>
    </div>
  </div>


  <div  *ngIf="!loaded" class="row">
    <div class="col-xs-3 col-xs-offset-5">
      <md-spinner></md-spinner>
    </div>

  </div>

</div>
<!--</md-sidenav-container>-->

